@charset "UTF-8";
/* CSS Document */

body {
	margin: o;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
h1 {
	float: left;
	padding-left:15px;
}
h1, h2, h4, h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
h2 {
	padding-top: 50px;
	font-size: 20px;
}
h2 img {
	padding: 0 25px 6px 25px;
}
h2, p {
	text-align:center;
}
p { 
	line-height: 30px;
}
p, li {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.lorum {
	font-size: small;
	color: #636363;
	padding-left: 120px;
	padding-right: 120px;
}
.lorum2 {
	font-size: xx-small;
	color: #636363;
	line-height: 18px;
}
.wrapper {
	max-width:1170px;
	margin: 0 auto 0 auto;
}
#home {
	background-image: url('../images/background.jpg');
	background-size: 100%;
    background-repeat: no-repeat;
	min-height: 800px;
}
header {
	overflow:auto;
  	background:white;
  	position:fixed;
  	top:30px;
  	width:70%;
  	margin-left: auto;
	margin-right: auto;
  	z-index:1;
	font-size: x-small;
	box-shadow: 1px 1px 1px #888888;
}
header ul {
	list-style-type:none;
	float: right;
	overflow: auto;
	padding-top: 15px;
}
header li {
	float: left;
	padding-right: 40px;
	list-style-type: none;
	text-decoration: none;
	overflow: auto;
	color: black;
}
.page-links {
	float: right;
	color: #878787;
	list-style-type: none;
}
#home a {
	color:#000000;
	text-decoration: none;
}
.intro {
	float: left;
  	width:45%;
  	margin-top: 160px;
	margin-left: 100px;
}
.intro ul {
	list-style-type:none;
	font-size: x-small;
	padding-bottom: 30px;
}
.pe-7s-angle-right {
	padding-right: 3px;
}
.intro h2, .intro p, .intro ul {
	text-align: left;
}
.intro a {
	color: black;
  	border: 2px solid black;
  	background-color: transparent;
	font-size: 14px;
	padding-right: 20px;
	text-decoration: none;
	color: black;
	padding: 12px 20px 12px 5px;
	line-height:1px;
}
a:hover {
	opacity: .5;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.pe-7s-cloud-download {
	padding: 0px 10px 5px 5px;
}
.pe-7s-look {
	padding: 0px 10px 5px 10px;
}
.handphone {
	position: absolute;
	bottom: 55px;
	right: 48px;
	z-index: 0;
}
#features {
	clear: both;
	blackground-color: #ffffff;
	padding: 0 100px 50px 100px;
}
.feature {
	font-size: 10px;
}
h3 {
	margin:0;
}
.feature-details {
  padding: 0 0 0 20px;
  overflow:auto;
  cursor:default;
}

.feature-details:hover {
  background:#fbfbe9;
}

.feature-details span {
  float:left;
  font-size:30px;
  line-height:30px;
  width:15%;
  margin-top:0;
  color: #878787
}
.pe-7s-tools {
	padding-top: 15px;
	float: left;
}
.pe-7s-timer {
	padding-top: 15px;
	float: left;
}
.pe-7s-music {
	padding-top: 15px;
	float: left;
}
.pe-7s-paper-plane {
	padding-top: 15px;
	float: left;
}
.pe-7s-camera {
	padding-top: 15px;
	float: left;
}
.pe-7s-user {
	padding-top: 15px;
	float: left;
}
.feature-content {
  	float:right;
	width:75%;
}
#gallery {
	background-color: #FAFAFA;
	clear: both;
	overflow: auto;
}
.column-gallery {
	width: 20%;
	float: left;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	padding:0 12.5px 0 12.5px;
}
.screenshots-gallery {
	overflow: auto;
	padding-bottom: 100px;
}
.screenshots {
	padding-top: 50px;
}
.show {
	background-color: #F8E514;
	clear: both;
	overflow: auto;
}
.reel {
	padding: 200px 0 200px 0;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	align-content: center;
}
.yellowumbrella {
	float: right;
	padding-right: 30px;
}
.people {
	background-color: #FAFAFA;
	clear: both;
	overflow: auto;
	padding: 5px 0 80px 0;
	margin-bottom: 150px;
}
.column-people {
	float:left;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	padding: 40px 0 0 40px;
	
}
.column-people a {
	float: left;
	position: relative;
	visibility: visible;	
}
.column-people a img {
	display: block;
}
.column-people a span {
	display: none;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background: #F8E514;
	color: #636363;
	padding: 20px;
	font-size: x-small;
	text-align:center;
}
.column-people a:hover {
	background-color: #F8E514;
	opacity: 1;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.column-people a:hover span {
	display: block;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.people-links {
	padding-top:40px;
	padding-left: 20px;
}
.column-name {
	font-size:x-small;
	float: left;
	width:20%;
	line-height:0px;
	text-align: left;
	padding-left:40px;
}
.column-name p {
	text-align: left;
	line-height: 15px;
}
.quote {
	background-color: none;
	clear: both;
	padding: 50px 0 50px 0;
}
.quote-mark img {
	margin-left: auto;
	margin-right: auto;
}
.robert {
	text-align: center;
	line-height: 0px;
	padding-top: 40px;
}
.featured {
	background-color: #F8E514;
	clear: both;
	overflow: auto;
}
.featured-in {
	text-align: center;
	padding: 55px 115px 60px 115px;
}
.featured-list {
	padding: 60px 50px 205px 150px;
}
.column-features {
	width: 33%;
	float: left;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right:30px;
}
.column-features img {
	width: 100%;
}
.column-features p {
	text-align: left;
}
.column-featured {
	width: 20%;
	float: left;
}
.opaque {
	opacity: 0.3;
}
or {
	list-style-type:none;
}
#contact {
	clear: both;
}
.contact {	
	max-height: 1000px;
}
.hello {
	font-weight:300;
}
.forms {
	float: left;
	padding: 40px 20px 0 20px;
	line-height: none;
}
.forms input {
	width: 100%;
	border: 0;
	border-bottom: 1px solid #878787;
	padding: 17px 0;
	font-size:10px;
}
.forms input:focus {
	outline: 0;
}
#contact button {
	background-color: transparent;
  	font-size: 12px;
	border: none;
	padding-right: 10px;
	margin-top: 50px;
}
#contact button:hover {
	opacity: .5;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.pe-7s-mail {
	padding: 5px 8px 5px 5px;
}
.contact-pics {
	float: right;
}
.social-icons {
	padding: 130px 80px 0 50px;
	float:left;
}
.halfphone {
	float: left;
	bottom:0%;
	padding-right: 100px;
}
footer {
	font-size: xx-small;
	clear: both;
	border-top: 2px solid #F8E514;
	overflow: auto;
	padding-top: 70px;
	padding-bottom: 70px;
}
footer p {
	line-height: 15px;
}
.column-footer {
	float: left;
	color: #878787;
	width: 20%;
	padding: 0 15px 0 15px;
}
.column-footer p, .column-footer ul {
	text-align: left;
}
.subscribe {
	width: 100%;
	border: 1px solid #878787;
	margin: auto;
	overflow:auto;
}
.subscribe input {
	padding: 7px 0 5px 10px;
	float: left;
	border: 0;
	width: 80%;
	font-size:15px;
	color: #878787;
}
.subscribe input {
	outline: 0;
}
.subscribe button {
	font-size: 12px;
	width: 10%;
	float: right;
	border: 0;
	padding: 5px 10px 5px 0;
	color: #878787;
	background: transparent;
}
.explore-links {
	text-align:left;
	float: left;
	max-height: 30px;
	width: 50%;
	line-height: 25px;
}
.explore-links li {
	list-style-type:none;
}
.created {
	border-left: 1px solid #F8E514;
}