@charset "UTF-8";
/* CSS Document */

body {
	margin: o;
	padding: 0;
}
.wrapper {
	max-width:1170px;
	margin: 0 auto 0 auto;
}
#home {
	background-image: url('../images/background.jpg');
	background-size: 100%;
    background-repeat: no-repeat;
	min-height: 800px;
}
header {
	background-color: #ffffff;
	max-width: 1240px;
	max-height: 60px;
	overflow:auto;
	margin-top: 30px;
}
ul {
	list-style-type:none;
	float: right;
}
header li {
	float: left;
	padding-right: 40px;
}
.page-links {
	float: right;
}
.intro {
	float: left;
}
.handphone {
	float: right;
}
#features {
	clear: both;
	overflow: auto;
	blackground-color: #ffffff;
}
#gallery {
	background-color: #FAFAFA;
	clear: both;
	overflow: auto;
}
.column-gallery {
	width: 20%;
	float: left;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	padding-right:25px;
}
.show {
	background-color: #F8E514;
	clear: both;
}
.people {
	background-color: #FAFAFA;
	clear: both;
}
.quote {
	background-color: none;
	clear: both;
}
.featured {
	background-color: #F8E514;
	clear: both;
	overflow: auto;
}
.featured-in {
	text-align: center;
	padding: 55px 115px 60px 115px;
}
.featured-list {
	padding: 60px 60px 205px 160px;
}
.column-features {
	width: 33%;
	float: left;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right:30px;
}
.column-featured {
	width: 20%;
	float: left;
}
.opaque {
	opacity: 0.3;
}
or {
	list-style-type:none;
}
#contact {
	clear: both;
}