@charset "UTF-8";
/* CSS Document */

body {
	margin: o;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
h1 {
	float: left;
}
h1, h2, h4, h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
h2 {
	padding-top: 50px;
	font-size: 20px;
}
h2, p {
	text-align:center;
}
p, li {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.lorum {
	font-size: small;
	color: #636363;
	padding-left: 30px;
	padding-right: 30px;
}
.lorum2 {
	font-size: x-small;
	color: #636363;
}
.wrapper {
	max-width:1170px;
	margin: 0 auto 0 auto;
}
#home {
	background-image: url('../images/background.jpg');
	background-size: 100%;
    background-repeat: no-repeat;
	min-height: 800px;
}
header {
	overflow:auto;
  	background:white;
  	position:fixed;
  	top:30px;
  	width:70%;
  	margin-left: auto;
	margin-right: auto;
  	z-index:1;
	font-size: x-small;
	box-shadow: 1px 1px 1px #888888;
}
header ul {
	list-style-type:none;
	float: right;
	overflow: auto;
	padding-top: 15px;
}
header li {
	float: left;
	padding-right: 40px;
	list-style-type: none;
	text-decoration: none;
	overflow: auto;
}
.page-links {
	float: right;
	color: #878787;
	list-style-type: none;
}
a #home {
	color:#000000;
}
.intro {
	float: left;
  	width:45%;
  	margin-top:250px;
	margin-left: 100px;
}
.intro ul {
	list-style-type:none;
	font-size: small;
}
.intro h2, .intro p, .intro ul {
	text-align: left;
}
.handphone {
	position: absolute;
	bottom: 55px;
	right: 48px;
	z-index: 0;
}
#features {
	clear: both;
	blackground-color: #ffffff;
	padding: 0 100px 50px 100px;
}
.feature {
	font-size: small;
}
#gallery {
	background-color: #FAFAFA;
	clear: both;
	overflow: auto;
}
.column-gallery {
	width: 20%;
	float: left;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	padding:0 12.5px 0 12.5px;
}
.screenshots {
	padding: 50px 0 0px 0px;
}
.show {
	background-color: #F8E514;
	clear: both;
}
.people {
	background-color: #FAFAFA;
	clear: both;
	padding: 5px 0 80px 0;
}
.quote {
	background-color: none;
	clear: both;
	padding: 50px 0 50px 0;
}
quotes {
	align-content:center;
}
circle {
	align-content:center;
}
.robert {
	text-align: center;
}
.featured {
	background-color: #F8E514;
	clear: both;
	overflow: auto;
}
.featured-in {
	text-align: center;
	padding: 55px 115px 60px 115px;
}
.featured-list {
	padding: 60px 60px 205px 160px;
}
.column-features {
	width: 33%;
	float: left;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right:30px;
}
.column-features img {
	width: 100%;
}
.column-features p {
	text-align: left;
}
.column-featured {
	width: 20%;
	float: left;
}
.opaque {
	opacity: 0.3;
}
or {
	list-style-type:none;
}
.yellowumbrella {
}
#contact {
	clear: both;
	border-bottom: ##F8E514;
}
.halfphone {
	float: right;
}
footer {
	font-size: x-small;
	clear: both;
	border-top:#F8E514;
}
.column-footer {
	float: left;
	color: #878787;
	width: 20%;
	padding: 0 15px 0 15px;
}
.column-footer p, .column-footer ul {
	text-align: left;
}
.explore-links {
	float: left;
	max-height: 30px;
	width: 50%;
	line-height: 25px;
}
.explore-links ul {
	list-style-type:none;
}
